DATABASE_URL=postgresql://user:password@host:5432/database
NEXT_PUBLIC_REFRESH_SECONDS=30
NEXT_PUBLIC_FARM_NAME=PeaPod-1
CONTROLLER_ID=e5f03cd6-8d1c-11ed-897e-17d755fdf10c
GROUP_ID=e7aaaf4e-28c2-4e3f-81be-1584b4386416
FARM_NAME=PeaPod-1
CONFIG_TYPE=greenery-s
