DATABASE_URL=postgresql://user:password@host:5432/database
FARMHAND_BASE_URL=http://192.168.200.200:3001
FARMHAND_CONTROLLER_ID=e5f03cd6-8d1c-11ed-897e-17d755fdf10c
FARMHAND_GROUP_ID=e7aaaf4e-28c2-4e3f-81be-1584b4386416
FARM_NAME=PeaPod-1
FARM_CONFIG_TYPE=greenery-s
REQUEST_TIMEOUT_SECONDS=30
